<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<title>Mon portfolio</title>
	<meta charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="ism/css/my-slider.css"/>
    <script src="ism/js/ism-2.1.js"></script>
	
	<!--[if IE 7]>
		<link href="css/ie7.css" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header"> <a href="index.html" id="logo"><img src="images/logo.png" width="295" height="55" alt="picture"></a>
				<ul class="navigation">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a class="active" href="blog.html">Blog</a>
					</li>
					<li>
						<a href="akeza.html">Akeza Radio</a>
					</li>
					<li>
						<a href="Mon_CV.html">Mon CV</a>
					</li>
				</ul>
			</div>
			<!-- start of body-->
			<div id="body">
				<div id="content">
					<h2>Blog</h2>
					<ul id="article">
						
							
						<div class="ism-slider" id="my-slider">
						  <ol>
							<li>
							  <img src="ism/image/slides/flower-729514_1280.jpg">
							  <div class="ism-caption ism-caption-0">My slide caption text</div>
							</li>
							<li>
							  <img src="ism/image/slides/flower-729514_1280.jpg">
							  <div class="ism-caption ism-caption-0">My slide caption text</div>
							</li>
							<li>
							  <img src="ism/image/slides/_u/1454451366973_474059.jpg">
							  <div class="ism-caption ism-caption-0">My slide caption text</div>
							</li>
							<li>
							  <img src="ism/image/slides/_u/1454451366973_474059.jpg">
							  <div class="ism-caption ism-caption-0">My slide caption text</div>
							</li>
							<li>
							  <img src="ism/image/slides/_u/1454451366973_474059.jpg">
							  <div class="ism-caption ism-caption-0">My slide caption text</div>
							</li>
						  </ol>
						</div>
						<p class="ism-badge" id="my-slider-ism-badge"><a class="ism-link" href="http://imageslidermaker.com">Bahizi.net</a></p>
						
						
						<li>
							<a href="images\portfolio\Paris.jpg"> 
								<img src="images\portfolio\petits\paysage _2.jpg" width="156" height="156" alt="picture"></a>
							<img src="images\portfolio\petits\paysage _1.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _3.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _4.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _5.jpg" width="156" height="156" alt="picture">
						<!--<h2><a href="about.html">Lorem Ipsum Dolor</a></h2> -->
							
							
							<!--<a href="blog-list.html" class="readmore">Read more</a> <span class="date">Filed on: November 10, 1965</span> -->
						</li>
						<li>
							<img src="images\portfolio\petits\paysage _2.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _1.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _3.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _4.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _5.jpg" width="156" height="156" alt="picture">
						<!-- <h2><a href="about.html">Lorem Ipsum Dolor</a></h2> -->
							
							<!--<a href="blog-list.html" class="readmore">Read more</a> <span class="date">Filed on: November 10, 1965</span> -->
						</li>
						<li>
							<img src="images\portfolio\petits\paysage _2.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _1.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _3.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _4.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _5.jpg" width="156" height="156" alt="picture">
							<!-- <h2><a href="about.html">Lorem Ipsum Dolor</a></h2> -->
							
							<!--<a href="blog-list.html" class="readmore">Read more</a> <span class="date">Filed on: November 10, 1965</span> -->
						</li>
						<li class="last">
							<img src="images\portfolio\petits\paysage _2.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _1.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _3.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _4.jpg" width="156" height="156" alt="picture">
							<img src="images\portfolio\petits\paysage _5.jpg" width="156" height="156" alt="picture">
							<!-- start of body--	<h2><a href="about.html">Lorem Ipsum Dolor</a></h2> -->
							
							<!--<a href="blog-list.html" class="readmore">Read more</a> <span class="date">Filed on: November 10, 1965</span> -->
						</li>
					</ul>
				</div>
				<div id="section">
					<div class="footer">
						<div class="body">
							<div class="paging"> <a href="#"><span> &laquo; </span></a> <a href="#"><span>First</span></a>
								<ul>
									<li>
										<a href="blog.html">1</a>
									</li>
									<li>
										<a href="blog.html">2</a>
									</li>
									<li>
										<a href="blog.html">3</a>
									</li>
																	
								</ul>
								<a href="#"><span>Last</span></a> <a href="#"><span>&raquo;</span></a> </div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of body-->
			<div id="footer">
				<div>
					<div class="header"> <a href="index.html"><img class="logo" src="images/logo2.png" width="187" height="37" alt="picture"></a>
						<ul class="connect">
							<li>
								<a href="http://www.freewebsitetemplates.com/go/facebook/" class="facebook">&nbsp;</a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/twitter/" class="twitter">&nbsp;</a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/googleplus/" class="googleplus">&nbsp;</a>
							</li>
						</ul>
					</div>
					<div class="body">
						<ul class="navigation">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<li>
								<a href="akeza.html">Akeza Radio</a>
							</li>
							<li>
								<a href="Mon_CV.html">Mon CV</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="footnote"> &copy; Copyright &copy; 2016 Bahizi.net all rights reserved </div>
			</div>
		</div>
	</div>
</body>
</html>